<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_5.jpg');">
    <div class="overlay"></div>
    <div class="container" id="containerhome">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-9  text-center" data-scrollax=" properties: { translateY: '0%' }">
          <p class="breadcrumbs" ><span class="mr-2"><a routerLink="index.html">Home</a></span> <span>circuit</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">circuit</h1>
        </div>
      </div>
    </div>
</div>
<p>circuit works!</p>

<div class="row">
   <!-- <div class="col-md-4 ftco-animate" *ngFor = "let hot of hotel">
              <div class="destination">
                  <a routerLink="hotel-single.html" class="card img img-2 d-flex justify-content-center align-items-center" [style.background-image]="'url('+'https://freedomtravel.tn/assets/images/hotel_miniature/'+hot.id+'.jpg'+')' | safe:'style'">
              
                  </a>
                  <div class="text p-3">
                      <div class="d-flex">
                          <div class="one">
                              <h3><a routerLink="hotel-single.html">{{hot.nom}}</a></h3>
                              <p class="rate row" *ngIf="hot.categorie =='5'"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                              </p>
                              <p class="rate row" *ngIf="hot.categorie =='4'"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i>
                              </p>
                              <p class="rate row" *ngIf="hot.categorie =='3'"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i>
                              </p>
                              <p class="rate row" *ngIf="hot.categorie =='2'"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i>
                              </p>
                          </div>
                      </div>
                      <span class="price per-price" *ngIf="hot.lpdvente !='0' ">{{hot.lpdvente}} DT /LPD<br></span>
                      <span class="price per-price" *ngIf="hot.dpvente !='0' ">{{hot.dpvente}} DT /DP<br></span>
                      <span class="price per-price" *ngIf="hot.pcvente != '0' ">{{hot.pcvente}} DT /PC<br></span>
                      <span class="price per-price" *ngIf="hot.allinsoftvente !='0' ">{{hot.allinsoftvente}} DT /All In Soft<br></span>
                      <span class="price per-price" *ngIf="hot.allinvente !='0' ">{{hot.allinvente}} DT /All In<br></span>
                      <hr>
                      <p class="bottom-area d-flex justify-content-between">{{hot.ville}}
                          <span class="ml-auto"><a routerLink="/hotels/{{hot.id}}">Détails</a></span>
                      </p>
                      

                  </div>
              </div>
          </div>-->
         
</div>