 <div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_4.jpg');">
    <div class="overlay"></div>
    <div class="container" id="containerhome">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-9  text-center" data-scrollax=" properties: { translateY: '0%' }">
          <p class="breadcrumbs" ><span class="mr-2"><a routerLink="index.html">Home</a></span> <span>circuit</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">circuit</h1>
        </div>
      </div>
    </div>
</div>
<br><br>
<div class="card mb-3">
    <img src="assets/images/circuit.png" class="card-img-top" alt="..." style="width: 50%; padding-right: 10%"  >
    <div class="card-body">
      <h5 class="card-title">Hôtel El Mouradi El Menzah Hammamet</h5>
      <div class="row">
        <p class="col-md-6">
            L'offre Comprend : soustraité <br>
            -  04 jours / 03 nuitées .<br>
            - Gallela – Ghriba – Houmet Souk – Djerba Explore<br>
            - Hébergement en All Inclusive soft à l’hôtel Royal Karthago & Thalasso<br>           
            
        <B> A partir  399 DT</B> <br>    </p>   
    </div>
  </div>
  </div>