<div class="hero-wrap js-fullheight" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="overlay"></div>
    <div class="container" id="containerhome">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-9  text-center" data-scrollax=" properties: { translateY: '0%' }">
          <p class="breadcrumbs" ><span class="mr-2"><a routerLink="index.html">Home</a></span> <span>Voyages</span></p>
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Voyages</h1>
        </div>
      </div>
    </div>
</div>
<br>
  <div class="card mb-3">
        <img src="https://www.freedomtravel.tn/assets/images/4/88/Istanbul-turki.jpg" class="card-img-top" alt="..." style="width: 30%; padding-right: 10%"  >
        <div class="card-body">
          <h5 class="card-title">Istanbul</h5>
          <div class="row">
          <p class="col-md-6">
                L'offre Comprend : soustraité <br>
                - Billet d'avion Aller/Retour.<br>
                - Sejour Hotel en LPD.<br>
                - Excurtions<br>- Transfert Aeropot / Hôtel  
                <br> <B> A partir  1580 DT <br> 6 jours / 5 nuits</B></p>
             
         
        
        </div>
      </div>
    </div>